* {
  margin: 0;
  padding: 0;
}
.icon-title {
  font-size: 0.8rem;
  font-weight: 500;
}
.navbar-nav .nav-item {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0 0.5rem;
}
.nav-item sup {
  color: #ff3f6c;
}
/* .nav-link {
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.55);
} */

.navitem .active {
  color: rgba(35, 35, 35, 0.8);
}
